.winningStatus {
    margin-right: 20px;
}

.listItem {
    flex-direction: column;
}

.LoginBlock {
    margin: 40px;
}

.IonInput {
    border: 2px solid var(--ion-color-primary);
}

input::placeholder {
    color: gray;
}
